*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-y: hidden;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #1D0840;
}

.logo{
    width: 20vw;
}

.logo img{
    margin-left: 2.5vw;
    margin-top: 3.2vh;
    width: 15vw;
    height: 8vh;
    background-color: rgb(223, 30, 62);
}

.items{
    width: 60vw;
    height: 15vh;
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    margin-top: 4.5vh;
    text-shadow: 1px 1px white;
    cursor: pointer;
}

.profile{
    width: 20vw;
    height: 15vh;
    text-align: center;
    color: rgb(212, 48, 76);
    font-size: 300%;
    margin-top: 2.5vh;
    text-shadow: 1px 1px rgb(172, 113, 123);
    cursor: pointer;
}

.content{
    height: 76vh;
    width: 100vw;
    background: orange;
}

.content img{
    width: 100vw;
    height: 76vh;
}

.footer{
    height: 9vh;
    width: 100vw;
    color: white;
    background: #1D0840;
    text-align: center;
    padding-top: 2.5vh;
    font-size: 22px;
    font-weight: bold;
}