*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-y: hidden;
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(172, 113, 123);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #47395E;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }

.navbar{
    display: flex;
    width: 100vw;
    height: 15vh;
    background-color: #1D0840;
}

.logo{
    width: 20vw;
}

.logo img{
    margin-left: 2.5vw;
    margin-top: 3.2vh;
    width: 15vw;
    height: 8vh;
    background-color: rgb(223, 30, 62);
}

.items{
    width: 60vw;
    height: 15vh;
    text-align: center;
    color: aliceblue;
    font-size: xx-large;
    margin-top: 4.5vh;
    text-shadow: 1px 1px white;
    cursor: pointer;
}

.profile{
    width: 20vw;
    height: 15vh;
    text-align: center;
    color: rgb(212, 48, 76);
    font-size: 300%;
    margin-top: 2.5vh;
    text-shadow: 1px 1px rgb(172, 113, 123);
    cursor: pointer;
}

.content{
    padding-top: 5vh;
    width: 100vw;
    height: 73vh;
   background: rgb(9,9,121);
background: linear-gradient(214deg, rgba(9,9,121,1) 0%, rgba(5,13,179,1) 14%, rgba(4,14,200,1) 34%, rgba(0,18,255,1) 39%, rgba(9,9,121,1) 49%, rgba(2,16,223,1) 62%, rgba(10,5,67,1) 67%, rgba(10,2,19,0.9026961126247374) 87%, rgba(10,2,19,0.9026961126247374) 94%);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.card1{
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 34vh;
   background: rgb(9,9,121);
background: linear-gradient(214deg, rgba(9,9,121,1) 0%, rgba(5,13,179,1) 14%, rgba(4,14,200,1) 34%, rgba(0,18,255,1) 39%, rgba(9,9,121,1) 49%, rgba(2,16,223,1) 62%, rgba(10,5,67,1) 67%, rgba(10,2,19,0.9026961126247374) 87%, rgba(10,2,19,0.9026961126247374) 94%);
    opacity: 0.5;
    transition: 0.3s;
    margin-bottom: 2vh;
}

.card1:hover{
    /* transform: scale(1.15); */
    opacity: 1;
    box-sizing: border-box;
    border: 2px solid black;
}

.image{
    
    margin: 1.5vh 2vw;
    
    height: 15vh;
    background-color: orange;
    
}

.hide-element{
    display: none;
}

.name{
    height:auto;
    font-size: 18px;
    padding-top: 1vh ;
    text-align: center;
}

.like{
    /* padding-top: 1vh; */
    font-size: 30px;
    color: white;
   background: rgb(9,9,121);
background: linear-gradient(214deg, rgba(9,9,121,1) 0%, rgba(5,13,179,1) 14%, rgba(4,14,200,1) 34%, rgba(0,18,255,1) 39%, rgba(9,9,121,1) 49%, rgba(2,16,223,1) 62%, rgba(10,5,67,1) 67%, rgba(10,2,19,0.9026961126247374) 87%, rgba(10,2,19,0.9026961126247374) 94%);
    border: none;
    /* text-align: center; */
}

/* .like::after{
    background: #47395E;
    width: 5vw;
    height: 3vh;
    font-size: medium;
    color: white;
} */

.form{
    position: absolute;
    bottom: 1vh;
    right: 4.6vw;
}

.footer{
    background: #1D0840;
    color: white;
    padding-top: 1.5vh;
    text-align: center;
    width: 100vw;
    height: 8vh;
    font-weight: 900;
    font-size: large;
}
.frame{
    display: none;
}